@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

.container {
  max-width: 1400px; }

.navbar {
  opacity: 0.9;
  background: transparent;
  min-height: 7rem;
  position: absolute;
  z-index: 10;
  width: 100%; }
  .navbar .nav-item {
    font-size: 1.2rem;
    margin-right: 2.5rem; }
    .navbar .nav-item a {
      color: #849cb5; }
    .navbar .nav-item a:hover {
      color: #333 !important; }
    .navbar .nav-item .btn:hover {
      color: #fff !important; }

.showcase {
  position: relative;
  min-height: calc(100vh - 110px);
  padding: 90px 0;
  display: flex;
  align-items: center; }
  .showcase .showcase-text {
    width: 50%;
    z-index: 6; }
    .showcase .showcase-text h1 {
      font-size: 4rem;
      font-weight: bolder;
      line-height: 1.2; }
    .showcase .showcase-text p {
      color: #849cb5;
      font-size: 1.3rem;
      line-height: 1.5;
      letter-spacing: 1px; }
  .showcase .showcase-img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    z-index: 3; }
    .showcase .showcase-img .showcase .showcase-img img {
      width: 100%;
      height: auto; }

/* .penta-show-top */
.penta-show {
  position: absolute;
  display: block;
  top: -10px;
  left: 26%;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/pentagon.svg");
  opacity: 0.06; }

.penta-show-middle {
  width: 250px;
  height: 250px;
  top: 30%;
  left: 6%; }

.penta-show-bottom {
  width: 80px;
  height: 80px;
  bottom: 15%;
  top: auto;
  left: 40%;
  transform: rotate(30deg); }

.section-two {
  background-image: linear-gradient(0deg, #f4f9ff 0%, #f1f7ff 100%);
  min-height: 109vh; }
  .section-two h2 {
    font-size: 2.75rem;
    margin-bottom: 2rem; }
  .section-two .cards .card {
    position: relative;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    box-shadow: 20px 30px 40px 0 rgba(11, 15, 51, 0.1);
    z-index: 10; }
    .section-two .cards .card img {
      margin: 1rem 1.5rem;
      width: 40px;
      height: 35px;
      z-index: 5; }
    .section-two .cards .card .penta-blue {
      position: absolute;
      display: block;
      top: 13.5%;
      left: 8.5%;
      width: 70px;
      height: 70px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("/img/blue-penta.svg");
      transform: rotate(30deg); }
    .section-two .cards .card .penta-green {
      position: absolute;
      display: block;
      top: 13.5%;
      left: 8.5%;
      width: 70px;
      height: 70px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("/img/green-penta.svg");
      transform: rotate(30deg); }
    .section-two .cards .card .card-text {
      margin-left: 1rem; }
      .section-two .cards .card .card-text h3 {
        font-weight: bold; }
      .section-two .cards .card .card-text p {
        color: #849cb5;
        line-height: 22px; }
  .section-two .cards .penta-show-left {
    overflow: hidden;
    position: absolute;
    display: block;
    top: -58%;
    left: -43%;
    width: 800px;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/pentagon.svg");
    opacity: 0.03;
    transform: rotate(-10deg); }
  .section-two .cards .penta-show-right {
    overflow: hidden;
    position: absolute;
    display: block;
    top: 55%;
    right: -17.8%;
    left: auto;
    width: 300px;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/right-penta.svg");
    opacity: 1; }
  .section-two .video {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center; }
    .section-two .video .size {
      width: 800px;
      height: 400px; }

.testimonials {
  margin-top: 17rem;
  position: relative;
  min-height: 80vh; }
  .testimonials h2 {
    font-size: 2.75rem; }
  .testimonials p {
    color: #849cb5; }
  .testimonials .slick-wrapper .items {
    outline: none;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 1px 40px rgba(11, 15, 51, 0.1);
    width: 450px;
    height: 350px;
    margin: 3rem 0; }
    .testimonials .slick-wrapper .items img {
      margin: auto;
      margin-top: -40px; }
    .testimonials .slick-wrapper .items p {
      margin: 2rem 3rem;
      font-weight: 300;
      font-size: 1.2rem;
      color: #333; }
  .testimonials .penta-show-testimonials {
    position: absolute;
    display: block;
    top: -27%;
    left: 34%;
    width: 580px;
    height: 580px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/pentagon.svg");
    z-index: -5;
    transform: rotate(-10deg); }

.slick-slide {
  opacity: 0.5;
  transform: scale(0.8);
  transition: all 450ms ease-in-out; }

.slick-slide.slick-center {
  opacity: 1;
  transform: scale(1); }

.slick-arrow {
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #006cff;
  color: #fff;
  top: 50%;
  z-index: 1;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #006cff; }

.arrow-prev {
  background-image: url("../img/arrow-left.png");
  background-repeat: no-repeat;
  background-position: center;
  left: 25%;
  right: auto; }

.arrow-next {
  background-image: url("../img/arrow-right.png");
  background-repeat: no-repeat;
  background-position: center;
  right: 25%;
  left: auto; }

.banner {
  width: 100%;
  margin: auto;
  border-radius: 10px;
  background-image: linear-gradient(90deg, #006cff 0%, #3087ff 100%); }
  .banner h2 {
    font-size: 2.5rem; }
  .banner a {
    margin-left: auto;
    align-self: center; }

.footer {
  min-height: 300px;
  position: relative; }
  .footer ul {
    list-style: none; }
    .footer ul li {
      margin-bottom: 1rem;
      font-size: 1.25rem; }
      .footer ul li a {
        color: #333; }
  .footer .btn {
    color: #fff;
    padding: 1.25rem 2rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: bold; }
  .footer .footer-info {
    color: #849cb5;
    font-size: 0.8rem;
    letter-spacing: 1px; }
    .footer .footer-info a {
      margin: 0 1rem;
      color: #849cb5; }
  .footer .penta-show-footer {
    position: absolute;
    display: block;
    top: 30%;
    left: -10%;
    width: 400px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/pentagon.svg");
    z-index: -5;
    transform: rotate(-10deg); }

@media (max-width: 1201px) {
  .navbar {
    position: relative; }
    .navbar .nav-item {
      font-size: 1.2rem;
      margin-right: 0.5rem; }

  .showcase {
    padding-top: 0;
    min-height: 60vh;
    text-align: center; }
    .showcase .showcase-text {
      width: 100%;
      margin-top: -2.5rem; }
      .showcase .showcase-text h1 {
        font-size: 4rem; }
    .showcase .showcase.img {
      display: none; }

  .section-two {
    min-height: 85vh; }
    .section-two .video {
      margin-top: 2.5rem; }
      .section-two .video .size {
        width: 700px;
        height: 350px; }
    .section-two .cards .penta-show-left,
    .section-two .cards .penta-show-right {
      display: none; }

  .testimonials {
    min-height: 55vh;
    margin-top: 25rem; }
    .testimonials .slick-slide {
      transform: scale(0.6);
      transition: all 450ms ease-in-out; }
    .testimonials .slick-slide.slick-center {
      transform: scale(1); }
    .testimonials .arrow-prev {
      left: 15%;
      right: auto; }
    .testimonials .arrow-next {
      right: 15%;
      left: auto; }
    .testimonials .banner {
      flex-direction: column;
      padding: 0 !important;
      margin: 0 0 2rem 0 !important;
      width: 80%;
      margin: auto !important;
      margin-bottom: 2rem !important;
      height: auto;
      text-align: center; }
      .testimonials .banner h2 {
        margin: 0.5rem !important;
        padding: 1rem !important;
        font-size: 1.75rem; }
      .testimonials .banner .btn {
        width: auto;
        margin: 0 0 1rem 0 !important;
        padding: 1rem !important; }
    .testimonials .penta-show-testimonials {
      top: -24%;
      left: 27%;
      width: 450px;
      height: 450px; } }
@media (max-width: 769px) {
  .showcase {
    min-height: 550px;
    text-align: center;
    margin: auto; }
    .showcase .showcase-text {
      width: 100%;
      margin-top: -2.5rem; }
      .showcase .showcase-text h1 {
        font-size: 4rem; }
      .showcase .showcase-text .btn {
        padding: 2rem; }
    .showcase .showcase.img {
      display: none; }

  .section-two {
    margin-bottom: 20rem; }
    .section-two .cards .card .penta-blue {
      top: 14.5%;
      left: 5.5%;
      width: 70px;
      height: 70px; }
    .section-two .cards .card .penta-green {
      top: 14.5%;
      left: 5.5%;
      width: 70px;
      height: 70px; }
    .section-two .video {
      margin-top: 2.5rem; }
      .section-two .video .size {
        width: 600px;
        height: 300px; }

  .slick-slide {
    transform: scale(0.6);
    transition: all 450ms ease-in-out; }

  .slick-slide.slick-center {
    transform: scale(1); }

  .arrow-prev {
    left: 6%;
    right: auto; }

  .arrow-next {
    right: 6%;
    left: auto; }

  .banner {
    flex-direction: column;
    padding: 0 !important;
    margin: 0 0 2rem 0 !important;
    width: 100%;
    height: auto;
    text-align: center; }
    .banner h2 {
      margin: 0.5rem !important;
      padding: 1rem !important;
      font-size: 1.75rem; }
    .banner .btn {
      width: auto;
      margin: 0 0 1rem 0 !important;
      padding: 1rem !important; }

  .footer {
    text-align: center;
    margin-top: 1rem; }
    .footer ul {
      text-align: center;
      width: auto;
      margin-top: 2rem;
      padding: 0; }
      .footer ul li {
        margin: 0; }
        .footer ul li .btn {
          padding: 0.75rem;
          margin: 0; }
    .footer .footer-info {
      text-align: center;
      flex-direction: column; }
      .footer .footer-info p {
        margin: auto; }
    .footer .penta-show-footer {
      display: none; } }
@media (max-width: 496px) {
  .showcase {
    min-height: 85vh;
    text-align: center; }
    .showcase .showcase-text {
      width: 100%;
      margin-top: -2.5rem; }
      .showcase .showcase-text h1 {
        font-size: 3.75rem !important; }
      .showcase .showcase-text p {
        font-size: 1.1rem; }
      .showcase .showcase-text .btn {
        padding: 1.25rem !important; }

  .section-two {
    margin-bottom: 2rem; }
    .section-two .cards .card img {
      display: none; }
    .section-two .cards .card .penta-green,
    .section-two .cards .card .penta-blue {
      display: none; }
    .section-two .sm-delete {
      display: none; }

  .testimonials {
    margin-top: 0; }
    .testimonials .penta-show-testimonials {
      display: none; }

  .items {
    width: 100%; }

  .slick-slide {
    transform: scale(0.5);
    transition: all 450ms ease-in-out; }

  .slick-slide.slick-center {
    transform: scale(0.8); }

  .arrow-prev {
    left: 3%;
    top: 70%;
    right: auto; }

  .arrow-next {
    right: 3%;
    top: 70%;
    left: auto; }

  .banner {
    flex-direction: column;
    padding: 0 !important;
    margin: 0 0.5rem 2rem 0.5rem !important;
    width: auto;
    height: auto;
    text-align: center; }
    .banner h2 {
      margin: 0.5rem !important;
      padding: 1rem !important;
      font-size: 1.75rem; }
    .banner .btn {
      width: auto;
      margin: 0 0 0.75rem 0 !important;
      padding: 0.75rem !important; }

  .footer {
    text-align: center; }
    .footer ul {
      text-align: center;
      width: auto;
      margin-top: 0.5rem;
      padding: 0; }
      .footer ul li {
        margin: 0; }
    .footer .footer-info {
      text-align: center;
      flex-direction: column; }
      .footer .footer-info p {
        margin: auto; } }
